@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-input {
  @apply block;
  @apply w-full;
  @apply bg-gray-200;
  @apply appearance-none;
  @apply text-gray-700;
  @apply border;
  @apply border-gray-300;
  @apply rounded;
  @apply py-3;
  @apply px-4;
  @apply leading-tight;
  @apply mb-2;
}

.linear-input:focus {
  @apply outline-none;
  @apply bg-white;
  @apply border-gray-500;
}

.btn {
  @apply bg-blue-500;
  @apply text-white;
  @apply font-bold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
}

.btn:hover {
  @apply bg-blue-700;
}

.btn:disabled {
  @apply opacity-50;
  @apply cursor-not-allowed;
}
